.logged-in-message {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Customize the color as needed */
  }

  .username {
    font-weight: bold; /* Make the username bold */
    font-size: 18px;   /* Set the font size to your desired value */
    color: #007BFF;    /* Set the text color to your desired color */
    margin-bottom: 5px; /* Add some space between usernames */
    cursor: pointer;
}
/* Likers list */
.likers-list-popup {
    list-style: none;
    padding: 0;
}

.custom-card-img {
  height: 130px;
  width: 150px;
  object-fit: cover; /* This ensures the image covers the entire space */
  border-radius: 10px; /* Optional: Adds rounded corners */
  border: 2px solid #ccc; /* Optional: Adds a border */
}